<div class="card_product_container">
    <div class="crad-product">
        <h4>Up to 65% off | Televisions </h4>
        <div class="card-products-inside">
            <div class="card-inside">
                <img src="https://firebasestorage.googleapis.com/v0/b/fir-16ba8.appspot.com/o/card%2Fcard1.jpg?alt=media&token=db989045-17f8-4110-915a-fd8d13a55965"
                    alt="">
                <p>Budget TVs | 32 inches </p>
            </div>
            <div class="card-inside">
                <img src="https://firebasestorage.googleapis.com/v0/b/fir-16ba8.appspot.com/o/card%2Fcard2.jpg?alt=media&token=0156287f-1ef1-4dc1-aa86-7e5512d793e4"
                    alt="">
                <p>Budget TVs | 43 inches </p>
            </div>
            <div class="card-inside">
                <img src="https://firebasestorage.googleapis.com/v0/b/fir-16ba8.appspot.com/o/card%2Fcard3.jpg?alt=media&token=eadbb4bc-3236-4190-9f4e-6ae700162778"
                    alt="">
                <p>Budget TVs | 55 inches </p>
            </div>
            <div class="card-inside">
                <img src="https://firebasestorage.googleapis.com/v0/b/fir-16ba8.appspot.com/o/card%2Fcard4.jpg?alt=media&token=467163d8-e428-4fee-8361-e78c76d564dd"
                    alt="">
                <p>Budget TVs | 65 inches </p>
            </div>
        </div>
        <div class="link">
            <a href="">See all deals</a>
        </div>
    </div>
    <div class="crad-product">
        <h4>Revamp your home in style</h4>
        <div class="card-products-inside">
            <div class="card-inside">
                <img src="https://firebasestorage.googleapis.com/v0/b/fir-16ba8.appspot.com/o/card%2Fcard5.jpg?alt=media&token=6093db0b-73a4-4a1b-9583-b00d4a60e0f3"
                    alt="">
                <p>
                    Cushion covers, bedsheets & more</p>
            </div>
            <div class="card-inside">
                <img src="https://firebasestorage.googleapis.com/v0/b/fir-16ba8.appspot.com/o/card%2Fcard6.jpg?alt=media&token=93746d10-6e99-4914-bffb-d121067c28ea"
                    alt="">
                <p>Figurines, vases & more </p>
            </div>
            <div class="card-inside">
                <img src="https://firebasestorage.googleapis.com/v0/b/fir-16ba8.appspot.com/o/card%2Fcard7.jpg?alt=media&token=b7cadae9-f5b1-41ff-ba4f-9c84cc637915"
                    alt="">
                <p>Home Storage</p>
            </div>
            <div class="card-inside">
                <img src="https://firebasestorage.googleapis.com/v0/b/fir-16ba8.appspot.com/o/card%2Fcard8.jpg?alt=media&token=74fbd310-6ef7-4868-ba7d-acace1d127ec"
                    alt="">
                <p>Lighting solutions </p>
            </div>
        </div>
        <div class="link">
            <a href="">See all deals</a>
        </div>
    </div>
    <div class="crad-product">
        <h4>Top mobile accessories for your smartphone </h4>
        <div class="card-products-inside">
            <div class="card-inside">
                <img src="https://firebasestorage.googleapis.com/v0/b/fir-16ba8.appspot.com/o/card%2Fcard9.jpg?alt=media&token=41f130ed-f3da-481d-bc9b-954aa53dee3f"
                    alt="">
                <p>Headsets </p>
            </div>
            <div class="card-inside">
                <img src="https://firebasestorage.googleapis.com/v0/b/fir-16ba8.appspot.com/o/card%2Fcard10.jpg?alt=media&token=8157afab-e8d5-4813-89b6-a6dc66d784a5"
                    alt="">
                <p>Cables and Chargers </p>
            </div>
            <div class="card-inside">
                <img src="https://firebasestorage.googleapis.com/v0/b/fir-16ba8.appspot.com/o/card%2Fcard11.jpg?alt=media&token=bd0ca896-7875-4761-89b4-6c4f7b1f1486"
                    alt="">
                <p>Cases and Covers </p>
            </div>
            <div class="card-inside">
                <img src="https://firebasestorage.googleapis.com/v0/b/fir-16ba8.appspot.com/o/card%2Fcard12.jpg?alt=media&token=245c8d27-1ccf-4191-9c9b-4c7965c70400"
                    alt="">
                <p>Powerbanks</p>
            </div>
        </div>
        <div class="link">
            <a href="">See all deals</a>
        </div>
    </div>
    <div class="crad-product">
        <h4>Pick up where you left off</h4>
        <div class="card-products-inside">
            <div class="card-inside1">
                <img src="https://firebasestorage.googleapis.com/v0/b/fir-16ba8.appspot.com/o/card%2Fcard13.jpg?alt=media&token=58f9b011-8377-45d5-b655-ff0cf7e2b3ca"
                    alt="" width="152" height="132">
                <p>Redmi 13 5G, Hawa…</p>
            </div>
            <div class="card-inside1">
                <img src="https://firebasestorage.googleapis.com/v0/b/fir-16ba8.appspot.com/o/card%2Fcard14.jpg?alt=media&token=aa4377d5-ff7a-40e2-9610-4e8a2b252df3"
                    alt="">
                <p>Lava Blaze X 5G - S… </p>
            </div>
            <div class="card-inside1">
                <img src="https://firebasestorage.googleapis.com/v0/b/fir-16ba8.appspot.com/o/card%2Fcard15.jpg?alt=media&token=43ff25ab-1e8a-47ea-8261-0a27fe0886f5"
                    alt="">
                <p>Samsung Galaxy S23…</p>
            </div>
            <div class="card-inside1">
                <img src="https://firebasestorage.googleapis.com/v0/b/fir-16ba8.appspot.com/o/card%2Fcard16.jpg?alt=media&token=21ba4cd2-5080-457c-b20a-4f318720eafa"
                    alt="">
                <p>iQOO Z9 Lite 5G </p>
            </div>
        </div>
        <div class="link">
            <a href="">See all deals</a>
        </div>
    </div>
</div>

<div class="card-container">
    <div class="products">
        <h4>Up to 60% off | Start your fitness journey</h4>
        <div class="card-img">
            <img src="https://firebasestorage.googleapis.com/v0/b/fir-16ba8.appspot.com/o/card%2Fcard17.jpg?alt=media&token=0660a1c5-66f0-418c-84aa-8c10e83604c2" alt="">
        </div>
        <div class="link">
            <a href="">see all deals</a>
        </div>
    </div>
    <div class="products">
        <h4>Up to 60% off | Car, bike parts & accessories</h4>
        <div class="card-img">
            <img src="https://firebasestorage.googleapis.com/v0/b/fir-16ba8.appspot.com/o/card%2Fcard18.jpg?alt=media&token=953e3607-95ec-4cc4-b6db-aaab12363efa" alt="">
        </div>
        <div class="link">
            <a href="">see all deals</a>
        </div>
    </div>
    <div class="products">
        <h4>Up to 50% off | Diabetes care devices</h4>
        <div class="card-img">
            <img src="https://firebasestorage.googleapis.com/v0/b/fir-16ba8.appspot.com/o/card%2Fcard19.jpg?alt=media&token=1db50d16-871c-401d-bcc4-880773f1cd03" alt="">
        </div>
        <div class="link">
            <a href="">see all deals</a>
        </div>
    </div>
    <div class="products">
        <h4>Minimum 50% off | Indoor plants</h4>
        <div class="card-img">
            <img src="https://firebasestorage.googleapis.com/v0/b/fir-16ba8.appspot.com/o/card%2Fcard20.jpg?alt=media&token=9607c575-118b-4a29-a0e8-2f7832f72918" alt="">
        </div>
        <div class="link">
            <a href="">see all deals</a>
        </div>
    </div>
</div>

<div class="card_product_container1">
    <div class="crad-product">
        <h4>Up to 65% off | Televisions </h4>
        <div class="card-products-inside">
            <div class="card-inside">
                <img src="https://firebasestorage.googleapis.com/v0/b/fir-16ba8.appspot.com/o/card%2Fcard1.jpg?alt=media&token=db989045-17f8-4110-915a-fd8d13a55965"
                    alt="">
                <p>Budget TVs | Starting </p>
            </div>
            <div class="card-inside">
                <img src="https://firebasestorage.googleapis.com/v0/b/fir-16ba8.appspot.com/o/card%2Fcard1.jpg?alt=media&token=db989045-17f8-4110-915a-fd8d13a55965"
                    alt="">
                <p>Budget TVs | Starting </p>
            </div>

            <div class="card-inside">
                <img src="https://firebasestorage.googleapis.com/v0/b/fir-16ba8.appspot.com/o/card%2Fcard1.jpg?alt=media&token=db989045-17f8-4110-915a-fd8d13a55965"
                    alt="">
                <p>Budget TVs | Starting </p>
            </div>
            <div class="card-inside">
                <img src="https://firebasestorage.googleapis.com/v0/b/fir-16ba8.appspot.com/o/card%2Fcard1.jpg?alt=media&token=db989045-17f8-4110-915a-fd8d13a55965"
                    alt="">
                <p>Budget TVs | Starting </p>
            </div>
        </div>
        <div class="link">
            <a href="">See all deals</a>
        </div>
    </div>
    <div class="crad-product">
        <h4>Up to 65% off | Televisions </h4>
        <div class="card-products-inside">
            <div class="card-inside">
                <img src="https://firebasestorage.googleapis.com/v0/b/fir-16ba8.appspot.com/o/card%2Fcard1.jpg?alt=media&token=db989045-17f8-4110-915a-fd8d13a55965"
                    alt="">
                <p>Budget TVs | Starting </p>
            </div>
            <div class="card-inside">
                <img src="https://firebasestorage.googleapis.com/v0/b/fir-16ba8.appspot.com/o/card%2Fcard1.jpg?alt=media&token=db989045-17f8-4110-915a-fd8d13a55965"
                    alt="">
                <p>Budget TVs | Starting </p>
            </div>
            <div class="card-inside">
                <img src="https://firebasestorage.googleapis.com/v0/b/fir-16ba8.appspot.com/o/card%2Fcard1.jpg?alt=media&token=db989045-17f8-4110-915a-fd8d13a55965"
                    alt="">
                <p>Budget TVs | Starting </p>
            </div>
            <div class="card-inside">
                <img src="https://firebasestorage.googleapis.com/v0/b/fir-16ba8.appspot.com/o/card%2Fcard1.jpg?alt=media&token=db989045-17f8-4110-915a-fd8d13a55965"
                    alt="">
                <p>Budget TVs | Starting </p>
            </div>
        </div>
        <div class="link">
            <a href="">See all deals</a>
        </div>
    </div>
    <div class="crad-product">
        <h4>Up to 65% off | Televisions </h4>
        <div class="card-products-inside">
            <div class="card-inside">
                <img src="https://firebasestorage.googleapis.com/v0/b/fir-16ba8.appspot.com/o/card%2Fcard1.jpg?alt=media&token=db989045-17f8-4110-915a-fd8d13a55965"
                    alt="">
                <p>Budget TVs | Starting </p>
            </div>
            <div class="card-inside">
                <img src="https://firebasestorage.googleapis.com/v0/b/fir-16ba8.appspot.com/o/card%2Fcard1.jpg?alt=media&token=db989045-17f8-4110-915a-fd8d13a55965"
                    alt="">
                <p>Budget TVs | Starting </p>
            </div>
            <div class="card-inside">
                <img src="https://firebasestorage.googleapis.com/v0/b/fir-16ba8.appspot.com/o/card%2Fcard1.jpg?alt=media&token=db989045-17f8-4110-915a-fd8d13a55965"
                    alt="">
                <p>Budget TVs | Starting </p>
            </div>
            <div class="card-inside">
                <img src="https://firebasestorage.googleapis.com/v0/b/fir-16ba8.appspot.com/o/card%2Fcard1.jpg?alt=media&token=db989045-17f8-4110-915a-fd8d13a55965"
                    alt="">
                <p>Budget TVs | Starting </p>
            </div>
        </div>
        <div class="link">
            <a href="">See all deals</a>
        </div>
    </div>
    <div class="crad-product">
        <h4>Up to 65% off | Televisions </h4>
        <div class="card-products-inside">
            <div class="card-inside">
                <img src="https://firebasestorage.googleapis.com/v0/b/fir-16ba8.appspot.com/o/card%2Fcard1.jpg?alt=media&token=db989045-17f8-4110-915a-fd8d13a55965"
                    alt="">
                <p>Budget TVs | Starting </p>
            </div>
            <div class="card-inside">
                <img src="https://firebasestorage.googleapis.com/v0/b/fir-16ba8.appspot.com/o/card%2Fcard1.jpg?alt=media&token=db989045-17f8-4110-915a-fd8d13a55965"
                    alt="">
                <p>Budget TVs | Starting </p>
            </div>
            <div class="card-inside">
                <img src="https://firebasestorage.googleapis.com/v0/b/fir-16ba8.appspot.com/o/card%2Fcard1.jpg?alt=media&token=db989045-17f8-4110-915a-fd8d13a55965"
                    alt="">
                <p>Budget TVs | Starting </p>
            </div>
            <div class="card-inside">
                <img src="https://firebasestorage.googleapis.com/v0/b/fir-16ba8.appspot.com/o/card%2Fcard1.jpg?alt=media&token=db989045-17f8-4110-915a-fd8d13a55965"
                    alt="">
                <p>Budget TVs | Starting </p>
            </div>
        </div>
        <div class="link">
            <a href="">See all deals</a>
        </div>
    </div>
</div>

