<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="https://firebasestorage.googleapis.com/v0/b/fir-16ba8.appspot.com/o/am1.jpg?alt=media&token=c6f11cba-5576-40f8-9b29-a046c495b533" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="https://firebasestorage.googleapis.com/v0/b/fir-16ba8.appspot.com/o/am2.jpg?alt=media&token=8550ee45-13db-4b3b-8d72-9b9926527424" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://firebasestorage.googleapis.com/v0/b/fir-16ba8.appspot.com/o/am3.jpg?alt=media&token=6b046649-826f-4886-be16-80a2321beb46" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://firebasestorage.googleapis.com/v0/b/fir-16ba8.appspot.com/o/am4.jpg?alt=media&token=2384e091-5eb4-4193-9905-de0e14609dee" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://firebasestorage.googleapis.com/v0/b/fir-16ba8.appspot.com/o/am5.jpg?alt=media&token=d59f6ecb-b0dd-4c59-9b64-197d3f15cd6b" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://firebasestorage.googleapis.com/v0/b/fir-16ba8.appspot.com/o/am6.jpg?alt=media&token=012b8633-eca7-4ea3-8aec-3434d470e102" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
 