<div class="subfooter1">
    <div class="subfooter-content">
        <div class="row">
            <div class="col">
                <h6>AbeBooks</h6>
               <p>Books, art
                & collectibles</p>
            </div>
            <div class="col">
                <h6>	Amazon Web Services</h6>
                <p>Scalable Cloud
                    Computing Services</p>
            </div>
            <div class="col">
                <h6>Audible</h6>
                <p>Download
                    Audio Books</p>
            </div>
            <div class="col">
                <h6>	IMDb</h6>
                <p>Movies, TV & Celebrities</p>

                
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h6>Shopbop</h6>
               <p>Designer
                Fashion Brands</p>
            </div>
            <div class="col">
                <h6>	Amazon Web Services</h6>
                <p>Scalable Cloud
                    Computing Services</p>
            </div>
            <div class="col">
                <h6>	Prime Now</h6>
                <p>2-Hour Delivery
                    on Everyday Items</p>
            </div>
            <div class="col">
                <h6>	Amazon Prime Music</h6>
                <p>100 million songs, ad-free
                    Over 15 million podcast episodes</p>

                
            </div>
        </div>
        <div class="row1">
            <div class="row-inside">
               <span> Conditions of Use & Sale
                Privacy Notice
                Interest-Based Ads
               </span> <br>
                <span> © 1996-2024, Amazon.com, Inc. or its affiliates</span>
            </div>
           
        </div>
      
        
    </div>

</div>