<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="subbanner">
        <div class="name">
            <span><i class="fa-solid fa-bars" style="color: #fff;font-size: 20px;"></i> &nbsp;All</span>
        </div>
        <div class="name">
            <span>Amazon miniTV</span>
        </div>
        <div class="name">
            <span>Amazon Pay</span>
        </div>
        <div class="name">
            <span>Gift Cards</span>
        </div>
        <div class="name">
            <span>Amazon basics</span>
        </div>
        <div class="name">
            <span>Buy Again</span>
        </div>
        <div class="name">
            <span>Health,Household & Personal Care</span>
        </div>
        <div class="name">
            <span>Gift ideas</span>
        </div>
        <div class="name">
            <span>Browsing History</span>
        </div>
        <div class="name">
            <span>Books</span>
        </div>
        <div class="name">
            <span>Customer Service</span>
        </div>
        <div class="name">
            <span>Todays's Deals</span>
        </div>
        <div class="name">
            <span>Shekar'sAmazon.in</span>
        </div>
    </div>
</body>
</html>