.subbanner{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    background-color: #232F3E;
    color: #fff;
    font-size: 2vh;
    font-weight: 500;
    justify-content: space-evenly;
    height: 40px;
    text-align: center;
}
.subbanner .name{
    padding-top: 7px;

}
.subbanner .name .fa-solid{
    

}