<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazon Login</title>
    
</head>
<body>
    <div class="container">
        <img src="https://upload.wikimedia.org/wikipedia/commons/a/a9/Amazon_logo.svg" alt="Amazon Logo" class="logo" width="100">
        <h4>Sign in or create account</h4>
        <div class="input-container">
            <label for="text">Your name</label>
            <input type="text" id="email" name="email">
        </div>
        <div class="input-container">
            <label for="email">Email</label>
            <input type="text" id="email" name="email">
        </div>
        <div class="input-container">
            <label for="password">Enter password</label>
            <input type="password" id="password" name="password">
        </div>
        <div class="input-container">
            <label for="confirmpassword">Re-Enter password</label>
            <input type="password" id="password" name="password">
        </div>
        <a href="login"><button>Create your amazon account</button></a>
        <p>Already have a accont ? <a href="login">Login</a> </p>
       

   </div>
   <div class="border1"></div>
   <footer>
    <hr width="100%">
    <div class="footer">
        <a href="#">Conditions of Use</a> | 
        <a href="#">Privacy Notice</a> | 
        <a href="#">Help</a>
        <p>&copy; 1996-2024, Amazon.com, Inc. or its affiliates</p>
    </div>
   </footer>
</body>
</html>
